.WaterListWrapper {
  overflow-x: auto;
  margin-top: 24px;
  padding-bottom: 24px;
}

.waterList {
  display: flex;
  gap: 8px;
}

::-webkit-scrollbar {
  height: 8px; /* Висота горизонтального скролу */
  border-radius: 9px;
  background-color: white;
}

/* Сам ползунок (рухома частина) */
::-webkit-scrollbar-thumb {
  background: var(--color-main); /* Колір скролбару */
  border-radius: 9px;
  width: 150px;
}
