.WaterListWrapper {
  overflow-x: auto;
  padding-bottom: 24px;
}

.waterList {
  display: flex;
  gap: 4px;
}

::-webkit-scrollbar {
  height: 8px;
  border-radius: 9px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 9px;
  width: 150px;
}

@media (min-width: 768px) {
  .waterList {
    gap: 32px;
  }

  ::-webkit-scrollbar-thumb {
    width: 235px;
  }
}
