/* Основные стили для модального окна */
.editWaterModal {
  background-color: #ffffff; /* Белый фон модального окна */
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 340px;
  width: 100%;
}

.editWaterModal p {
  color: #2f2f2f;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
}

/* Заголовок модального окна */
.editWaterModal h2 {
  font-size: 20px;
  color: #2c3e50;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  margin-bottom: 24px;
}

/* Подзаголовок модального окна */
.editWaterModal h3 {
  font-size: 16px;
  color: #2c3e50;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1%;
  margin-bottom: 20px;
  margin-top: 24px;
}

/* Стили для лейблов */
.editWaterModal label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #34495e;
}

/* Контейнер для верхнего фиксированного значения и кнопок */
.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Стили для фиксированного значения "50 ml" */
.fixedValue {
  background-color: #323f47; /* Темный фон */
  color: white; /* Белый текст */
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Стили для нижних инпутов (белый фон) */
.inputlight1 {
  background-color: white; /* Белый фон */
  color: black; /* Черный текст */
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-top: 8px;
}

.inputlight2 {
  background-color: white; /* Белый фон */
  color: black; /* Черный текст */
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-top: -24px;
  margin-bottom: 14px;
}

/* Стили для кнопок с иконками */
.button {
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем отступы */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили для иконок */
.icon {
  width: 40px;
  height: 40px;
  stroke: currentColor; /* Цвет иконок будет наследоваться от родителя */
  fill: white; /* Белый цвет иконок */
  color: #323f47; /* Цвет иконок по умолчанию */
}

/* Стили для кнопки Save */
.saveButton {
  background-color: #9be1a0; /* Зеленый цвет */
  color: #323f47;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
}

/* Стили для кнопки Save при наведении */
.saveButton:hover {
  background-color: #87d28d; /* Темнее зеленый при наведении */
}

/* Стили для сообщений об ошибках */
.error {
  color: red;
  font-size: 0.875rem;
}

/* Глобальные стили для всех полей ввода типа number */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important; /* Убираем стрелочки в WebKit-браузерах */
  margin: 0 !important; /* Убираем отступы */
}

input[type='number'] {
  -moz-appearance: textfield !important; /* Убираем стрелочки в Firefox */
  appearance: textfield !important; /* Убираем стрелочки в других браузерах */
}

@media screen and (min-width: 768px) {
  .editWaterModal {
    min-width: 518px;
    width: 100%;
  }
}
