.button {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: transparent;
  border: none;
  padding: 0;
}

.svgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9be1a0;
  border: none;
}
.svg {
  stroke: var(--color-main);
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main);
}
