.waterDailyNorma {
  position: absolute;
  height: 54px;
  width: 102px;
  top: 72px;
  left: 16px;
  background: white;
  padding: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.normaValue {
  font-weight: bold;
  font-size: 14px;
  align-self: flex-start;
  margin-bottom: 4px;
}

.normaText {
  font-size: 10px;
  color: #2f2f2f99;
  align-self: center;
}

@media (min-width: 768px) {
  .waterDailyNorma {
    height: 78px;
    width: 129px;
    top: 101px;
    left: 32px;
    padding: 14px 18px;
  }

  .normaValue {
    font-size: 15px;
  }

  .normaText {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .waterDailyNorma {
    left: 64px;
  }
}
